@import '../../node_modules/destyle.css/destyle.css';
@import './variables.css';

/* montserrat-regular - cyrillic_cyrillic-ext_latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../../static/fonts/montserrat-v25-cyrillic_cyrillic-ext_latin-regular.woff2') format('woff2');
}

/* montserrat-600 - cyrillic_cyrillic-ext_latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('../../static/fonts/montserrat-v25-cyrillic_cyrillic-ext_latin-600.woff2') format('woff2');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--black-color);
  background-color: var(--snow-color);
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 22px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  & #app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  & main {
    flex-grow: 1;
  }
}

.submit-button.invalid {
  position: relative;
  animation: shake 300ms;
}

@keyframes shake {
  25% {
      transform: translateX(4px);
  }
  50% {
      transform: translateX(-4px);
  }
  75% {
      transform: translateX(4px);
  }
}